<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>LastLogin:</b>
  <%= @user.last_login.inspect %>
</p>

<h3>Previous orders</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
  <% end %>
</table>

<% if current_user and current_user.admin %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>